#output {
  display: none;
}

.container {
  padding: 0;
  width: 100%;
  height: 100%;
}

h1 {
  text-align: center;
  font-size: 75px;
}

body {
  background-color: #E0E0E0;
}

#body {
  padding-top: 20px;
  height: 100%;
}

#header {
  margin-right: 0;
  background-color: #F0D8A4;
  padding-top: 50px;
  padding-bottom: 50px;
}

#sidebar {
  background-color: #7CB17C;
  padding-left: 20px;
}

#sidebar h4 {
  color: #F0D8A4;
}

#main {
  padding-left: 30px;
}

#output {
  margin-top: 15px;
}
